services:
  nautobot:
    container_name: ${CONTAINER_SUFFIX}
    image: &shared_image ${NAUTOBOT_IMAGE}
    depends_on:
      - postgres
      - redis
    ports:
      - "${NAUTOBOT_PORT}:8080"  # Exposes Nautobot on localhost
    environment:
      - NAUTOBOT_DEBUG=${NAUTOBOT_DEBUG}
      - NAUTOBOT_DJANGO_EXTENSIONS_ENABLED=${NAUTOBOT_DJANGO_EXTENSIONS_ENABLED}
      - NAUTOBOT_DJANGO_TOOLBAR_ENABLED=${NAUTOBOT_DJANGO_TOOLBAR_ENABLED}
      - NAUTOBOT_HIDE_RESTRICTED_UI=${NAUTOBOT_HIDE_RESTRICTED_UI}
      - NAUTOBOT_LOG_LEVEL=${NAUTOBOT_LOG_LEVEL}
      - NAUTOBOT_METRICS_ENABLED=${NAUTOBOT_METRICS_ENABLED}
      - NAUTOBOT_NAPALM_TIMEOUT=${NAUTOBOT_NAPALM_TIMEOUT}
      - NAUTOBOT_MAX_PAGE_SIZE=${NAUTOBOT_MAX_PAGE_SIZE}
      - NAUTOBOT_DB_HOST=${CONTAINER_SUFFIX}-postgres
      - NAUTOBOT_DB_PORT=${NAUTOBOT_DB_PORT}
      - NAUTOBOT_DB_NAME=${POSTGRES_DB}
      - NAUTOBOT_DB_USER=${POSTGRES_USER}
      - NAUTOBOT_DB_PASSWORD=${POSTGRES_PASSWORD}
      - NAUTOBOT_ALLOWED_HOSTS=${NAUTOBOT_ALLOWED_HOSTS}
      - NAUTOBOT_REDIS_HOST=${CONTAINER_SUFFIX}-redis
      - NAUTOBOT_REDIS_PORT=${NAUTOBOT_REDIS_PORT}
      - NAUTOBOT_SUPERUSER_NAME=${SUPERUSER_NAME}
      - NAUTOBOT_SUPERUSER_PASSWORD=${SUPERUSER_PASSWORD}
      - NAUTOBOT_SUPERUSER_API_TOKEN=${SUPERUSER_API_TOKEN}
      - NAUTOBOT_CREATE_SUPERUSER=${NAUTOBOT_CREATE_SUPERUSER}
      - NAUTOBOT_INSTALLATION_METRICS_ENABLED=${NAUTOBOT_INSTALLATION_METRICS_ENABLED}
      - NAUTOBOT_CONFIG=/opt/nautobot/nautobot_config.py
      - NAUTOBOT_CELERY_BROKER_URL=redis://${CONTAINER_SUFFIX}-redis:${NAUTOBOT_REDIS_PORT}/0
      - NAUTOBOT_SECURE_HSTS_SECONDS=${NAUTOBOT_SECURE_HSTS_SECONDS}
      - NAUTOBOT_SECURE_SSL_REDIRECT=${NAUTOBOT_SECURE_SSL_REDIRECT}
      - NAUTOBOT_SESSION_COOKIE_SECURE=${NAUTOBOT_SESSION_COOKIE_SECURE}
      - NAUTOBOT_CSRF_COOKIE_SECURE=${NAUTOBOT_CSRF_COOKIE_SECURE}
      - NAUTOBOT_JOBS_ROOT=/opt/nautobot/jobs
    volumes:
      - ./config/nautobot_config.py:/opt/nautobot/nautobot_config.py
      - ./jobs:/opt/nautobot/jobs
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 120s
    command: ["nautobot-server", "runserver", "0.0.0.0:8080"]

  postgres:
    image: postgres:13-alpine
    container_name: ${CONTAINER_SUFFIX}-postgres
    command:
      - "-c"
      - "max_connections=1000"
    healthcheck:
      test: "pg_isready --username=$$POSTGRES_USER --dbname=$$POSTGRES_DB"
      interval: "10s"
      timeout: "5s"
      retries: 10    
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - "postgres_data:/var/lib/postgresql/data"
    restart: unless-stopped

  redis:
    image: redis:6
    container_name: ${CONTAINER_SUFFIX}-redis
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped

  celery-beat:
    container_name: ${CONTAINER_SUFFIX}_celery_beat
    image: *shared_image
    command: nautobot-server celery beat
    depends_on:
      nautobot:
        condition: "service_healthy"
    volumes:
      - ./config/nautobot_config.py:/opt/nautobot/nautobot_config.py
    environment:
      - NAUTOBOT_DB_HOST=${CONTAINER_SUFFIX}-postgres
      - NAUTOBOT_DB_PORT=${NAUTOBOT_DB_PORT}
      - NAUTOBOT_DB_NAME=${POSTGRES_DB}
      - NAUTOBOT_DB_USER=${POSTGRES_USER}
      - NAUTOBOT_DB_PASSWORD=${POSTGRES_PASSWORD}
      - NAUTOBOT_REDIS_HOST=${CONTAINER_SUFFIX}-redis
      - NAUTOBOT_REDIS_PORT=${NAUTOBOT_REDIS_PORT}
      - NAUTOBOT_CELERY_BROKER_URL=redis://${CONTAINER_SUFFIX}-redis:${NAUTOBOT_REDIS_PORT}/0
      - NAUTOBOT_CONFIG=/opt/nautobot/nautobot_config.py

  celery-worker-1:
    image: *shared_image
    container_name: ${CONTAINER_SUFFIX}_celery_worker_1
    command: nautobot-server celery worker --concurrency=${CELERY_WORKER_CONCURRENCY}
    depends_on:
      nautobot:
        condition: "service_healthy"
    healthcheck:
      interval: "30s"
      timeout: "10s"
      start_period: "30s"
      retries: 3
      test:
        [
          "CMD",
          "bash",
          "-c",
          "nautobot-server celery inspect ping --destination celery@$$HOSTNAME"  ## $$ because of docker-compose
        ]
    volumes:
      - ./config/nautobot_config.py:/opt/nautobot/nautobot_config.py
      - ./jobs:/opt/nautobot/jobs
    environment:
      - NAUTOBOT_DB_HOST=${CONTAINER_SUFFIX}-postgres
      - NAUTOBOT_DB_PORT=${NAUTOBOT_DB_PORT}
      - NAUTOBOT_DB_NAME=${POSTGRES_DB}
      - NAUTOBOT_DB_USER=${POSTGRES_USER}
      - NAUTOBOT_DB_PASSWORD=${POSTGRES_PASSWORD}
      - NAUTOBOT_REDIS_HOST=${CONTAINER_SUFFIX}-redis
      - NAUTOBOT_REDIS_PORT=${NAUTOBOT_REDIS_PORT}
      - NAUTOBOT_CELERY_BROKER_URL=redis://${CONTAINER_SUFFIX}-redis:${NAUTOBOT_REDIS_PORT}/0
      - NAUTOBOT_CONFIG=/opt/nautobot/nautobot_config.py
      - NAUTOBOT_JOBS_ROOT=/opt/nautobot/jobs


volumes:
  postgres_data: {}
  redis_data: {}